html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
strong,
sub,
sup,
var,
center,
ol,
ul,
li,
form,
label,
table,
thead,
tr,
th,
td,
figure,
footer,
header,
menu,
nav,
output,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    background-color: #ffffff;
    background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
    background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
    background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
    background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover, cover;
    background-position: top left, center center, bottom center;
    background-attachment: fixed, fixed, fixed;
}

body,
input,
select,
textarea {
    color: #414f57;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
}

p {
    margin: 0 0 1.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #313f47;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.85em;
    letter-spacing: 0.22em;
    margin: 0 0 0.525em 0;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
    letter-spacing: 0.22em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

button, .button {
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: inline-block;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 1.5em;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #17ef25;
    color: #17ef25 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.ok {
    border: solid 1px #17ef25;
    color: #17ef25 !important;
}

.cancle {
    border: solid 1px #FF0000;
    color: #FF0000 !important;
}

.print {
    border: solid 1px rgb(255, 155, 6);
    color: rgb(255, 155, 6) !important;
    /* background-color: rgb(201, 236, 145); */
}

.next {
    border: solid 1px #17ef25;
    color: #17ef25 !important;
}

.save {
    border: solid 1px #17ef25;
    color: #17ef25 !important;
}

.delete {
    border: solid 1px #FF0000;
    color: #FF0000 !important;
}

.edit {
    border: solid 1px rgb(70, 42, 5);
    color: rgb(70, 42, 5) !important;
}

.upload {
    border: solid 1px deepskyblue;
    color: deepskyblue !important;
}

.search {
    border: solid 1px deepskyblue;
    color: deepskyblue !important;
}

.login {
    border: solid 1px #17ef25;
    color: #17ef25 !important;
}

.register {
    border: solid 1px rgb(245, 165, 104);
    color: rgb(245, 165, 104) !important;
}

.logout {
    border: solid 1px #FF0000;
    color: #FF0000 !important;
}

.add {
    border: solid 1px deepskyblue;
    color: deepskyblue !important;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: solid 1px #c8cccf;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 0.5em;
    text-decoration: none;
    width: 100%;
    height: 2.75em;
    font-size: 1em;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textare:focus {
    border-color: #ff7496;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    border-color: #ff7496;
    color: #ff7496 !important;
}

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
}

.main {
    transition: opacity 1s ease, transform 1s ease;
    padding: 4.5em 3em 3em 3em;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    max-width: 100%;
    opacity: 0.95;
    position: relative;
    text-align: center;
}

.forget {
    width: 50%;
}

/*>>>>>>>>>>>>>>>>>>> Kanun  <<<<<<<<<<<<<<<<*/

.register {
    width: 50%;
}

.registercolumn {
    float: left;
    width: 45%;
    padding: 10px;
    height: 300px;
}

.registerrow:after {
    content: "";
    display: table;
    clear: both;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    color: #5a5858;
    font-family: Arial, sans-serif;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked+label span {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

.isleft {
    text-align: left;
}

/*>>>>>>>>>>>>>>>>>>> Best  <<<<<<<<<<<<<<<<*/

.tableBest {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.thBest {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.tdBest {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

.bestMain {
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    padding: 4.5em 3em 3em 3em;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    max-width: 100%;
    opacity: 0.95;
    position: relative;
    text-align: center;
    width: 60em;
}

.bestRow {
    display: flex;
}

.bestColumn {
    flex: 50%;
    padding: 10px;
    height: 100px;
}

/*>>>>>>>>>>>>>>>>>>> Pang <<<<<<<<<<<<<<<<*/

.savesell {
    width: 50em;
}

.savesellBT {
    margin-top: 2em;
}

.t1 {
    margin-top: 1em;
    color: #262424;
    text-align: left;
}

.t2 {
    align-self: center;
    margin-top: 1em;
}

.pangRow {
    display: flex;
    justify-content: center;
}

.saveSaleLeft {
    flex: 30%;
    padding: 20px;
}

.saveSaleRight {
    flex: 70%;
    padding: 20px;
}

.tablePang {
    background-color: #FFFFFF;
    border-collapse: collapse;
    width: auto;
    height: auto;
    padding: 20px;
    margin-left: 20px;
    display: block;
    overflow: scroll;
    max-height: 840px;
    max-width: 840px;
}

.tablePang td {
    border: 1px solid #ddd;
    padding: 30px;
    height: 40px;
}

.table tr:hover {
    background-color: #FFFAFA;
}

.tablePang th {
    text-align: center;
    background-color: rgb(129, 220, 243);
    height: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.deleteRow {
    border: solid 1px #FF0000;
    color: #FF0000 !important;
}

.deleteRow:hover {
    background-color: #FF0000;
    border: solid 1px #FF0000;
    color: wheat !important;
}

.fixed_header tbody {
    height: 40px;
}

.fixed_header thead tr {
    height: 40px
}

.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th,
.fixed_header td {
    text-align: left;
    width: 200px;
}

.panglogin {
    margin-top: 20px;
}

.loginBtn {
    padding-top: 20px;
    margin-bottom: 10px;
}

.loginPage {
    width: 25em;
}

.iconInput {
    position: relative;
    width: 100%;
}

.iconInput input {
    background: #fff;
    display: block;
    width: 100%;
    box-sizing: border-box
}

.iconInput img {
    position: absolute;
    top: 7px;
    right: 5px;
}

/*>>>>>>>>>>>>>>>>>>> Aom <<<<<<<<<<<<<<<<*/

.area {
    width: 50%;
}

.area2 {
    width: 80%;
}
.aominput {
    padding: 0 1em;
    width: 90%;
}

.aomselect {
    font-size: 1em;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: solid 1px #c8cccf;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    height: 2.75em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23c8cccf' /%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding-right: 2.75em;
    text-overflow: ellipsis;
}

.aomfields {

    width: calc(100% + 2.25em);
    margin: -1.125em 0 1.5em -1.125em;
}

.aomfields>.field {

    padding: 1.125em 0 0 1.125em;
    width: calc(100% - 1.125em);
}

.aomcontainer {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.aomcol-40 {
    text-align: left;
    float: left;
    width: 40%;
    margin-top: 6px;
}

.aomcol-60 {
    text-align: left;
    float: left;
    width: 60%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.aomtable {
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow: scroll;
}

.aomtable td,
.aomtable th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 800px;
}

.aomtable tr:hover {
    background-color: #ddd;
}

.aomtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(129, 220, 243);
}

.aomsearchTerm {
    float: left;
    width: 90%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.aomsearchTerm:focus {
    color: #00B4CC;
}

.aomsearchButton {
    position: absolute;
    right: 60px;
    width: 50px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    line-height: 2.00em;
    color: white !important;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    color: #5a5858;
    font-family: Arial, sans-serif;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0px 10px -5px -1px;
    /* vertical-align:middle; */
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked+label span {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

/*>>>>>>>>>>> Alex <<<<<<<<<<<< */

.contracts {
    width: 95%;
}

* {
    box-sizing: border-box;
}

.alexColumn {
    float: left;
    padding: 10px;
    height: 100%;

}

.left {
    width: 50%;
    /* background-color: antiquewhite; */
}

.right {
    width: 50%;
    /* background-color: rgb(224, 64, 77); */
}
.alexRow {
    width: 90%;
}
.alexRow::after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

page {
    background: rgb(253, 253, 253);
    display: block;
    margin: 0 auto;
    padding: 7%;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    letter-spacing: 0.5px;
    line-height: 30px;
    font-size: 14px;
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}


.alexRightbtn {
    text-align: right;
}
  /* pdf */
  
  @media print {
    body {
        display: inline;
        letter-spacing: 0.5px;
        line-height: 27px;
        font-size: 15px;
        font-weight: normal;
    } 
    p{
        display: inline;
        font-weight:bold;
        font-size: 15px;
    }
    h1{
        letter-spacing: 0.5px;
    }
}

  .fill{
      display: inline;
  }

  page > p{
    display: inline;
    font-weight:bold;
    font-size: 15px;
  }
  page > h1{
    letter-spacing: 0.5px;
  }

/*>>>>>>>>>>> MIMI <<<<<<<<<<<< */

.mmUl {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

.mmli {
    display: inline-block
}

.mmh3 {
    display: inline-block
}

.mmTable {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.mmth {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.mmtd {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

.mmUlLeft {
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

.mmSpan {
    text-decoration: underline;
    white-space: pre;
}

/*>>>>>>>>>>> Popjook <<<<<<<<<<<< */

#main {
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    padding: 4.5em 3em 3em 3em;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    max-width: 100%;
    opacity: 0.95;
    position: relative;
    text-align: center;
    width: 70em;
}

.fieldsetPop {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.rowPop {
    display: flex;
}

.columnPop {
    flex: 50%;
    padding: 10px;
    height: 80px;
}

.tPop {
    border-collapse: collapse;
    border-spacing: 0;
}

.tPop {
    text-align: center;
    width: 100%;
}

.tPop,
.thPop,
.tdPop {
    border: 1px solid black;
    border-collapse: collapse;
}

.tPop {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.h3Pop {
    font-size: 1em;
    letter-spacing: 0.22em;
    text-align: left;
}
.h4Pop {
    letter-spacing: 0.01em;
}

.h5Pop {
    text-align: right;
    letter-spacing: 0.01em;
}

.h6Pop {
    text-align: left;
    letter-spacing: 0.01em;
    padding-left: 100px;
}

/*>>>>>>>>>>>> Ton <<<<<<<<<<<<<<  */

.home {
    width: 70em
}

.toncolumns.is-home {
    display: flex;
}

.toncolumns.is-home>.toncolumn.is-4 {
    flex: none;
    width: 33.33333%;
}

.toncolumns.is-home>.toncolumn.is-offset-4 {
    margin-left: 33.33333%;
}

.toncolumns.is-home>.toncolumn.is-offset-3 {
    margin-left: 18%;
}

div.tonimg-resize img {
    width: 150px;
    height: auto;
}

.tonselect {
    font-size: 1em;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    border-radius: 4px;
    border: solid 1px #c8cccf;
    outline: 0;
    padding: 0 1em;
    width: 93%;
    height: 2.75em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23c8cccf' /%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding-right: 2.75em;
    text-overflow: ellipsis;
}

.tonsearchTerm {
    float: left;
    width: 90%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .tonsearchButton {
    position: absolute;  
    right: 100px;
    width: 100px;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    line-height: 2.00em;
    color: white !important;
  }
.tonbuttonhome {
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.70em;
    padding-right: 0.70em;
    padding-top: calc(0.375em - 1px);
    display: flex;
    width: 100%;
    font-size: 1.25rem;
}

.tontextarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border-radius: 4px;
        border: solid 1px #c8cccf;
        color: inherit;
        display: block;
        outline: 0;
        padding: 0 0.5em;
        text-decoration: none;
        width: 100%;
        height: 2.75em;
        font-size: 1em;
         height: 6em;
}

/*---------------BV---------------*/

.BVselect {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    appearance: none;
    border-radius: 4px;
    border: solid 1px #c8cccf;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    height: 2.75em;
}

.mainsize {
    transition: opacity 1s ease, transform 1s ease;
    padding: 4.5em 3em 3em 3em;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    max-width: 100%;
    opacity: 0.95;
    position: relative;
    text-align: center;
    width: 70em;
}

.BVform>.BVfields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 2.25em);
    margin: -1.125em 0 1.5em -1.125em;
    border: 1px solid black;
}

.BVtable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
}

.BVtr:hover {
    background-color: #ddd;
}

.BVth {
    text-align: center;
    border: 1px solid black;
}

.BVth .BVtr {
    border: 1px solid #ddd;
    padding: 8px;
}

.BVtd {
    border: 1px solid black;
}